body {
    font-family: 'Baloo Tamma 2', cursive;
}

h1 {
  font-size: 60px;
  color: #22223B;
  font-weight: 500;
}

h2 {
  font-size: 25px;
  font-weight: 500;
}

h3 {
  font-size: 30px;
  text-align: center;
  line-break: auto;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
}

button, .button {
  background-color: #F96F5D;
  border: 1px solid #F96F5D;
  border-radius: 3px;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
}

.button {
  padding: 11px 16px 8px 16px;
}

.formbutton {
  margin: 5px 0 0 0;
}

.content {
    padding: 0 50px;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
  }
  
.header {
    overflow: hidden;
    background-color: #F96F5D;
    padding: 20px 10px;
  }

.header-content {
  max-width: 1000px;
  margin: 0 auto;
}

  .header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }

  .header a:hover {
    background-color: #ffffff;
    color: #F96F5D;
  }
  
  .header a.active {
    background-color: #F96F5D;
    color: white;
  }
  
  .header-right {
    float: right;
  }
  
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }

  .stage {
    padding: 80px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: url(./images/header.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #2C4251;
    height: 300px;
    color: white;
  }
  
  .stage h1 {
    font-size: 60px;
    font-weight: 500;
    color: #22223B;
    margin-bottom: 10px;
  }
  
  .stage p {
    font-size: 20px;
    font-weight: 300;
    color: #22223B;
    width: 45%;
  }

.quote {
  background-color: #22223B;
  color: white;
}

.quote-beige {
  background-color: #D0B8AC;
  color: #22223B;
  text-align: center;
}

.quote h3 {
  max-width: 700px;
  margin: auto;
  padding: 40px 0;
}

.quote-beige h3 {
  max-width: 700px;
  margin: auto;
  padding: 40px 0 20px 0;
}

.quote-beige a {
  margin-bottom: 40px;
}

  .section-head {
    padding: 14px 20px;
    text-align: left;
    font-size: 25px;
    font-weight: 500;
    color: black;
    padding: 20px 0;
  }
  
  .section-head a {
    padding: 14px 20px;
    text-align: left;
    font-size: 25px;
    font-weight: 500;
    color: black;
    padding: 20px 0;
  }
  
  .section-head h2 {
    padding: 30px 0 0 0;
  }


.detail-stage {
  height: 400px;
  display: flex;
}

.detail-pic {
  width: 50%;
  margin: 0 auto;
  background-image: url(./images/detail-pic.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.detail-content {
  width: 50%;
  margin: 0 auto;
  background-color: white;
  text-align: left;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 20px 200px 20px 100px;
}

.detail-selector {
  display: flex;
  background-color: #D0B8AC;
  padding: 70px 0;
}

  
  .detail-column {
    float: left;
    width: 32%;
    text-align: center;
  }
  
  .detail-column a {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
  }
  
  .detail-column + .detail-column {
    margin-left: 2%;
  }
  
  .detail-row:after {
    content: "";
    display: table;
    clear: both;
  }
  
.select-icon {
  max-width: 20%;
  margin: 0 auto;
  display: block;
}

  .detail-column h3 {
    color: white;
  }
  
  .detail-column p {
    padding: 20px 10px;
    text-align: center;
    color: #22223b;
  }
  
.detail-column h1 {
  font-size: 30px;
  text-align: center;
  padding-top: 15px;
}
  
  .detail-column button {
    margin-left: 10px;
  }
  
  .detail-image {
    height: 120px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: green;
    display: flex;
    align-items: flex-end;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #2C4251;
    color: black;
  }
  
  .detail-img-1 {
    background-image: url(./images/detail1.jpg);
  }
  
  .detail-img-2 {
    background-image: url(./images/detail2.jpg);
  }
  
  .detail-img-3 {
    background-image: url(./images//detail3.jpg);
  }

.social {
  max-width: 900px;
  margin: 0 auto;
}

form {
  margin: 10px 0 50px 0;
}

form label {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  display: block;
  max-width: 400px;
  width: 100%;
}

input, textarea {
  display: block;
  width: 100%;
  margin: 5px 0;
  border: 1px solid #4A4A4A;
  border-radius: 3px;
  padding: 5px;
}

.footer {
  background-color: #22223B;
  text-align: center;
  color: white;
  height: 100px;
  padding: 5px;
}

.footer a {
  font-size: 12px;
  background-color: #22223B;
}

.icon-row {
  align-items: center;
  display: flex;
  padding: 0 50px;
  max-width: 200px;
  margin: 0 auto;
}

.icon-column {
  flex: 33.33%;
  padding: 15px;
}

.insta-button {
  margin-bottom: 40px;
}

.video-stage {
    background-color: rgba(255,255,255,0.5);
    color:white;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 80px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.video-text {
  padding: 0 50px;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

.video-text p {
  color: #22223B;
  font-size: 20px;
  width: 45%;
}

.vidContainer {
  top: 0; 
  width: 100%; 
  height: 500px; 
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.vid {
  width:100%; 
}

.button.select-button {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #22223b;
}

.contact-stage {
  display: flex;
  background-color: #D0B8AC;
  padding: 20px 0;
}

.icon-column img {
  width: 25px;
  padding: 0 5px;
}

.footer a {
  color: white;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
}

.placeholder {
  height: 200px;
  background-color: white;
}

@media screen and (min-width: 1800px) {
  .detail-content {
    padding: 20px 400px 20px 100px;
  }
}